@font-face {
  font-family: 'Futura Futuris Bold';
  src: url('../fonts/FuturaFuturisC-Bold.eot');
  src: url('../fonts/FuturaFuturisC-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaFuturisC-Bold.woff') format('woff'),
  url('../fonts/FuturaFuturisC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot');
  src: local('HelveticaNeue'),
  url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Bold.eot');
  src: local('HelveticaNeue-Bold'),
  url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Italic.eot');
  src: local('HelveticaNeue-Italic'),
  url('../fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Italic.woff') format('woff'),
  url('../fonts/HelveticaNeue-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Medium.eot');
  src: local('HelveticaNeue-Medium'),
  url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
  url('../fonts/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

