@import 'styles/variables.scss';

@font-face {
  font-family: 'Futura Futuris Bold';
  src: url('./assets/fonts/FuturaFuturisC-Bold.eot');
  src: url('./assets/fonts/FuturaFuturisC-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/FuturaFuturisC-Bold.woff') format('woff'),
  url('./assets/fonts/FuturaFuturisC-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeue.eot');
  src: local('HelveticaNeue'),
  url('./assets/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/HelveticaNeue.woff') format('woff'),
  url('./assets/fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeue-Bold.eot');
  src: local('HelveticaNeue-Bold'),
  url('./assets/fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/HelveticaNeue-Bold.woff') format('woff'),
  url('./assets/fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeue-Italic.eot');
  src: local('HelveticaNeue-Italic'),
  url('./assets/fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/HelveticaNeue-Italic.woff') format('woff'),
  url('./assets/fonts/HelveticaNeue-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeue-Medium.eot');
  src: local('HelveticaNeue-Medium'),
  url('./assets/fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/HelveticaNeue-Medium.woff') format('woff'),
  url('./assets/fonts/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue, Futuris-Bold, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Futuris-Bold, Arial, sans-serif;
  font-size: 100px;
  line-height: 105px;
  color: $white;
  text-align: left;
}

h2 {
  font-family: HelveticaNeue, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $darkGray;
}

h3 {
  font-family: HelveticaNeue, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: $darkGray;
}

h4 {
  font-family: HelveticaNeue, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: $white;
}

b {
  font-weight: bold;
}
