// Primary colors
$white: #fff;
$black: #000;
$gray: #edf1f5;
$darkGray: #2d2d2d;
$pink: #de5d5d;
$darkPink: #ab4848;
$blue: #28649c;
$darkBlue: #1a4369;

$red: #f33;
$green: #53b374;

// Secondary colors
$middleGray: #979797;
$yellow: #f6a623;
$orange: #ff9818;
$lightRed: #ff6a59;

// Global settings
$main-text-color: $darkGray;
$link-color: $blue;
$border-color: fade($darkGray, 20%);
$background-color: #f2f4f6;
$layout-padding-top: 30px;
$layout-padding-bottom: 60px;
$layout-padding-top-mobile: 16px;
$layout-padding-bottom-mobile: 36px;

// Font sizes
$g-font-size: 24px;
$b-font-size: 18px;
$m-font-size: 16px;
$font-size: 14px;
$s-font-size: 12px;

// layout
$search-form-width: 340px;
$mobile-filters-plank-height: 42px;
$offer-sidebar-width: 760px;

// Media
$media1440-width: 1440px;
$media1200-width: 1200px;
$media1024-width: 1024px;
$tablet-width: 990px;
$media850-width: 850px;
$s-tablet-width: 768px;
$mobile-width: 735px;
$l-mobile-width: 425px;
$m-mobile-width: 375px;
$media650-width: 650px;
$s-mobile-width: 320px;
$larger-than-tablet-width: ($tablet-width + 1);
$larger-than-mobile-width: ($mobile-width + 1);

$larger-than-1095: 'only screen and (min-width: 1095px)';
$larger-than-tablet: 'only screen and (min-width: #{$larger-than-tablet-width})';
$larger-than-mobile: 'only screen and (min-width: #{$larger-than-mobile-width})';
$media1440: 'only screen and (max-width: #{$media1440-width})';
$media1200: 'only screen and (max-width: #{$media1200-width})';
$media1024: 'only screen and (max-width: #{$media1024-width})';
$tablet: 'only screen and (max-width: #{$tablet-width})';
$media850: 'only screen and (max-width: #{$media850-width})';
$s-tablet: 'only screen and (max-width: #{$s-tablet-width})';
$mobile: 'only screen and (max-width: #{$mobile-width})';
$media650: 'only screen and (max-width: #{$media650-width})';
$l-mobile: 'only screen and (max-width: #{$l-mobile-width})';
$m-mobile: 'only screen and (max-width: #{$m-mobile-width})';
$s-mobile: 'only screen and (max-width: #{$s-mobile-width})';

// Mixins

@mixin full-width() {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin s-text() {
  font-size: $s-font-size;
  line-height: 16px;
}

@mixin text() {
  font-size: $font-size;
  line-height: 19px;
}

@mixin m-text() {
  font-size: $m-font-size;
  line-height: 21px;
}

@mixin b-text() {
  font-size: $b-font-size;
  line-height: 24px;
}

@mixin g-text() {
  font-size: $g-font-size;
  line-height: 32px;
}

@mixin h1($fw: 400) {
  font-size: 48px;
  line-height: 58px;
  font-weight: $fw;
}

@mixin h2($fw: 400) {
  font-size: 32px;
  line-height: 42px;
  font-weight: $fw;
}

@mixin h3($fw: 400) {
  @include g-text;
  font-weight: $fw;
}

@mixin h4($fw: 400) {
  @include b-text;
  font-weight: $fw;
}

@mixin h5($fw: 400) {
  @include text;
  font-weight: $fw;
}

@mixin h6($fw: 400) {
  @include s-text;
  font-weight: $fw;
}

@mixin s-shadow() {
  box-shadow: 0 2px 4px 0 fade($black, 7%);
}

@mixin m-shadow() {
  box-shadow: 0 4px 8px 0 fade($black, 7%);
}

@mixin b-shadow() {
  box-shadow: 0 6px 16px 0 fade($black, 7%);
}

@mixin no-radius() {
  border-radius: 0;
}

@mixin radius() {
  border-radius: 5px;
}

@mixin top-radius() {
  border-radius: 5px 5px 0 0;
}

@mixin bottom-radius() {
  border-radius: 0 0 5px 5px;
}

@mixin left-radius() {
  border-radius: 5px 0 0 5px;
}

@mixin right-radius() {
  border-radius: 0 5px 5px 0;
}

@mixin s-left-radius() {
  border-radius: 3px 0 0 3px;
}

@mixin s-right-radius() {
  border-radius: 0 3px 3px 0;
}

@mixin s-radius() {
  border-radius: 3px;
}

@mixin s-top-radius() {
  border-radius: 3px 3px 0 0;
}

@mixin s-bottom-radius() {
  border-radius: 0 0 3px 3px;
}

@mixin not-last-child($selector) {
  & #{$selector}:not(:last-child) {
    @content;
  }
}

@mixin main-container() {
  flex: 1 0 auto;
  position: relative;
  max-width: 1155px;
  margin: 0 auto;
  padding: 0 35px 0 34px;

  @media #{$tablet} {
    padding: 0 36px 0 37px;
  }

  @media #{$mobile} {
    padding: 0 12px 0 13px;
  }
}
