@import 'styles/variables.scss';

.container {
  display: flex;
  margin-top: 15px;
}

.body {
  display: flex;
  flex-direction: column;
}

.selectContainer {
  margin: 5px 0;
  display: flex;

  @media #{$mobile} {
    flex-direction: column;
  }
}

.select {
  margin: 0 5px 0 0;
  min-width: 200px;

  @media #{$mobile} {
    margin: 5px 0 0 0;
    min-width: auto;
  }
}

.carContainer {
  width: 286px;
}

.carImage {
  width: 100%;
}
