@import 'styles/variables.scss';

.container {
  width: 100%;
  display: -webkit-box;
  flex-direction: column;
}

.wrapper {
  width: 100%
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.not_found {
  margin: 30px 0 50px;
  opacity: 0.7;
  font-weight: 500;
  font-size: 20px;
  color: $darkGray;
}
