@import 'styles/variables.scss';

.container {
  padding: 40px;
}

.block {
  width: 240px;
  height: 100px;
  background: #00ffe7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableDescription {
  font-size: 20px;
  color: $darkGray;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;

  @media #{$mobile} {
    justify-content: center;
  }
}
