@import "styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.numberInput {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title {
  padding: 0 5px;
  @include h6(500)
}

.slider {
  position: absolute !important;
  bottom: -1.5px;
  width: 80% !important;
  align-self: center;
}

.error {
  color: #ff6a59;
  @include h6();
}
