@import "styles/variables.scss";

.modal {
  top: 50%;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  bottom: auto;
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;

  @media #{$mobile} {
    width: 80%;
  }
}

.header {
  padding: 12px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.body {
  padding: 24px 12px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  text-align: right;
  border-top: 1px solid rgb(204, 204, 204);
}
