@import 'styles/variables.scss';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin-top: 50px;
}

.image {
  width: 255px;
  height: auto;
}

.title {
  margin-top: 5px;
}

.model {
  font-size: 20px;
  color: $darkGray;
  font-weight: bold;
}

.price {
  opacity: .8;
  font-size: 16px;
  color: #181818;
}

.tooltip {
  position: relative;
  background: #edf1f5;
  border-radius: 5px;
  width: 322px;
  padding: 10px;
  margin-top: 10px;
  font-size: 13px;
  line-height: 20px;

  @media #{$mobile} {
    width: 275px;
  }

  &:after {
    content: '';
    position: absolute;
    color: $gray;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-bottom: solid 5px $gray;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
  }

  ul {
    margin: 0;
    padding: 0 0 0 20px;
    list-style: disc;
  }
}

.link {
  font-size: 16px;
  cursor: pointer;
  color: $blue;
  text-align: left;
  margin-top: 30px;
  font-weight: 500;
  float: right;
  text-decoration: none;
}
