@import 'styles/variables.scss';

.container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s;
  padding: 0 20px;

  &:hover {
    transform: scale(1.01);
  }

  @media #{$mobile} {
    width: 291px;
    flex-direction: column;
    padding: 0 12px;
    align-items: baseline;
  }
}

.header {
  display: flex;
  align-items: center;

  @media #{$mobile} {
    margin-bottom: 10px;
  }
}

.image {
  min-width: 140px;
  max-width: 100%;
  height: 140px;
  margin-left: 20px;
}

.infoImage {
  align-self: center;
  width: 140px;
  height: 140px;
}

.infoContainer {
  align-self: baseline;
  margin-left: 20px;

  @media #{$mobile} {
    margin-left: 0;
  }
}

.mainInfo {
  position: relative;
  display: flex;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 16px;
  color: $darkGray;
}

.price {
  font-style: italic;
  font-size: 16px;
  color: $darkGray;
  margin-left: 10px;
}

.description {
  opacity: 0.7;
  font-size: 16px;
  color: $darkGray;
  line-height: 21px;
  margin-top: 5px;
}

.restInfo {
  margin-top: 20px
}

.optionsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.optionsTitle {
  opacity: 0.7;
  font-size: 16px;
  color: $darkGray;
  line-height: 21px;
}

.optionsValue {
  font-weight: 500;
  font-size: 16px;
  color: $darkGray;
  line-height: 21px;
  margin-left: 5px;
}
