.pageTitle {
  text-transform: uppercase;
  margin: 30px 0 -15px;
  text-align: center;
  font-size: 20px;
}

.select {
  margin: 15px 0;
}

.buttonGroup {
  display: flex;
  align-content: center;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}
