@import 'styles/variables.scss';

.container {
  display: flex;
  align-items: center;
}

.lens {
  width: 15px;
  height: 14px;
  margin-right: 10px;
}

.input {
  border: none;
  opacity: 0.5;
  font-size: 16px;
  color: $darkGray;
}

.input__active {
  opacity: 1;
}
