@import 'styles/variables.scss';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 10px 33px 25px 33px;
  transition: box-shadow 0.3s ease-in;
  border-radius: 5px;
  margin: 30px 0;

  &:hover {
    box-shadow: 0 8px 40px -5px rgba(62, 72, 80, 0.11);
  }

  &:hover .button {
    opacity: 1;
  }

  &.passive {
    opacity: 0.5;
  }
}

.image {
  width: 255px;
  height: auto;
}

.text {
  margin-top: 5px;
}

.model {
  font-size: 20px;
  font-weight: bold;
  color: $darkGray;
}

.price {
  @include m-text;
  color: #181818;
}

.quantity {
  opacity: 0.7;
  font-size: 16px;
  color: #181818;
}

.button {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  margin-top: 10px;
}
