@import 'styles/variables.scss';

.button {
  box-shadow: 0 3px 9px 0 rgba(40, 100, 156, 0.20);
  font-weight: 500;
  font-size: 16px;
  padding: 8.5px 15px;
  margin: 0;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;
}

.primary {
  background: $blue;
  border-radius: 2px;
  color: $white;
  border: 0;

  &:hover {
    background: $darkBlue;
  }
}

.active {
  opacity: .5;
}

.secondary {
  background: $white;
  border: 1px solid $blue;
  border-radius: 2px;
  color: $darkGray;

  &:hover {
    background: $blue;
    color: $white;
  }

  &:active {
    background: $darkBlue;
    color: $white;
  }
}
