@import 'styles/variables.scss';

.background {
  background: no-repeat url(../../assets/images/main/main.jpg) 50% 0/cover;
  height: calc(100vh - 49px);
}

.container {
  padding: 0.5em 1.5em 0 1.5em;
}

.header {
  padding-top: 20px;
}

.logo {
  width: 201px;
  height: 33px;
}

.body {
  display: inline-block;
  position: relative;
  margin-top: 30px;
}

.title {
  position: absolute;
  top: 72px;
  right: 60px;
  font-size: 16px;
  color: $white;
  letter-spacing: 1.64px;

  @media #{$mobile} {
    font-size: 8px;
    top: 28px;
    right: 20px;
    letter-spacing: 0.82px;
  }
}

.slogan {
  text-shadow: 0 11px 134px rgba(0, 0, 0, 0.41);
  margin-top: 60px;

  @media #{$mobile} {
    margin-top: 25px;
    font-size: 40px;
    line-height: 42px;
  }
}

.chevron {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chevron__bottom {
  background: url(../../assets/images/chevron-bottom.svg) no-repeat;
  width: 46px;
  height: 30px;
}


