@import 'styles/variables.scss';

.container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  transform: scale(1);
  transition: all 0.3s;
  padding: 0 20px;

  &:hover {
    transform: scale(1.01);
  }

  @media #{$mobile} {
    flex-direction: column;
  }
}

.image {
  width: 240px;
  margin-left: 20px;
}

.body {
  align-self: baseline;
  margin-left: 20px;
}

.headerInfo {
  font-size: 20px;
  font-weight: 500;
  color: $darkGray;
  margin-bottom: 5px;
}

.info {
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  color: $darkGray;
  line-height: 24px;
  margin-bottom: 5px;
}

.geoPoint {
  margin-top: 19px;
  font-weight: 500;
  font-size: 16px;
  color: $blue;
  line-height: 24px;
  cursor: pointer;
}

.tooltip {
  position: relative;
  background: #edf1f5;
  border-radius: 5px;
  width: 322px;
  padding: 10px;
  margin-top: 10px;
  font-size: 13px;
  line-height: 20px;

  @media #{$mobile} {
    width: 275px;
  }

  &:after {
    content: '';
    position: absolute;
    color: $gray;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-bottom: solid 5px $gray;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
  }
}

