@import 'styles/variables.scss';

.container {
  margin-top: 20px;
  border-top: 1px solid #dadbdf;
  padding: 20px 0;
  @media #{$mobile} {
    padding: 20px;
  }
}

.mail {
  @include h5;

  a {
    color: $darkGray;
  }
}

.copyright {
  @include h6;
  color: $darkGray;
}

.bottom {
  @include main-container();
}
