@import 'styles/variables.scss';

.container {
  @include main-container();
}

.header {
  display: flex;

  @media #{$mobile} {
    margin-top: 0;
  }
}

.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 5px;

  @media #{$larger-than-1095} {
    &::after {
      content: "";
      flex: 1;
    }
  }
}
