@import 'styles/variables.scss';

.container {
  padding: 5px;
}

.input {
  height: 32px;
  box-sizing: border-box;
  border-radius: 2px;
  background: #fff;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  width: 100%;
  text-align: left;
  box-shadow: none;
  border: 1px solid #bdbdbd;
  padding: 5px 7px 7px;

  &:focus {
    border: 0;
    padding: 6px 8px 8px;
    background: $blue;
    outline: 0;
    color: #fff;
    box-shadow: inset 0 1px 2px 0 rgba(33, 33, 33, .3)
  }
}

.inputError {
  border-color: #ff6a59;

  &:focus {
    background: #ff6a59;
  }
}
