.thumbsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

;

.thumb {
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 100px;
  height: 100px;
  padding: 4px;
  box-sizing: border-box;
}

;

.thumbInner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

;

.img {
  display: block;
  width: auto;
  height: 100%;
}

;

.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

  & > p {
    font-size: 1rem;
  }

  & > em {
    font-size: .8rem;
  }
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;

  &:focus {
    border-color: #2196f3;
  }

  .disabled {
    opacity: 0.6;
  }
}
