@import 'styles/variables.scss';

.container {
  @include main-container();
}

.header {
  font-weight: 500;
  font-size: 20px;
  color: $darkGray;
  margin-top: 15px;
}

.body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
  grid-gap: 30px;
}

.carousel {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
}

.item {
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
  height: 148px;
  width: 148px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.50);
  margin: 30px 0;

  &:hover {
    box-shadow: 0 10px 40px 0 rgba(62, 72, 80, 0.11);
  }
}

.image {
  width: 101.53px;
  height: 101.53px;
}
