@import 'styles/variables.scss';

.container {
  padding: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.carImage {
  width: 255px;
  height: auto;
  margin: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: $darkGray;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
  padding: 0 20px;
}
