@import 'styles/variables.scss';

hr {
  border: 1px solid #e1e1e1;
  margin-bottom: 0;
  width: 100%
}

.container {
  @include main-container();
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$mobile} {
    margin-top: 9px;
  }
}

.logo {
  width: 201px;
  height: 33px;
  margin-bottom: 16px;
  cursor: pointer;
}

.title {
  font-weight: 500;
  font-size: 20px;
  color: $darkGray;

  @media #{$mobile} {
    font-size: 17px;
    padding-right: 10px;
  }
}

.mark {
  cursor: pointer;
  height: 83px;
  width: 83px;
  margin-top: 6px;

  @media #{$mobile} {
    height: 45px;
    width: 45px;
    margin-top: 0;
  }
}
