@import 'styles/variables.scss';

.header {
  font-weight: 500;
  font-size: 20px;
  color: $darkGray;
}

.body {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 10px 33px 25px 33px;
  transition: box-shadow 0.3s ease-in;
  border-radius: 5px;
  margin: 30px 0;

  &:hover {
    box-shadow: 0 8px 40px -5px rgba(62, 72, 80, 0.11);
  }
}

.image {
  width: 80%;
}

.text {
  margin-top: 5px;

  &.name {
    font-size: 20px;
    font-weight: bold;
    color: $darkGray;
  }

  &.address {
    @include m-text;
    color: #181818;
  }
}
