@import 'styles/variables.scss';

.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  -ms-touch-action: none;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider_fill-rail {
  & .rc-slider-rail {
    background-color: #E4E6E7;
  }
}

.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider-rail {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 3px;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 3px;
  background-color: $blue;
}

.rc-slider-handle {
  position: absolute;
  margin-left: -12px;
  margin-top: -10px;
  width: 24px;
  height: 24px;
  padding: 5px 0 0 5px;
  cursor: grab;
  border-radius: 50%;
  border: solid 1px #c9cbcd;
  background-color: #fff;
  touch-action: pan-x;

  &:active {
    cursor: grabbing;
  }

  &:focus {
    outline: none;
  }

  &:after {
    content: '';
    height: 12px;
    display: block;
    width: 12px;
    background-color: $blue;
    border-radius: 50%
  }

}

.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}

.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #93989d;
  font-weight: 400;
}

.rc-slider-mark-text-active {}

.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}

.rc-slider-dot {
  display: none;
}

.rc-slider-dot-active {}

.rc-slider-disabled {

  & .rc-slider-track {
    background-color: #c9cbcd;
  }

  & .rc-slider-handle,
  & .rc-slider-dot {
    border-color: #c9cbcd;
    box-shadow: none;
    background-color: #fff;
    cursor: not-allowed;
  }

  & .rc-slider-handle:after {
    background-color: #f2f4f6;
  }

  & .rc-slider-mark-text,
  & .rc-slider-dot {
    cursor: not-allowed !important;
  }
}

.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px;

  & .rc-slider-rail {
    height: 100%;
    width: 4px;
  }

  & .rc-slider-track {
    left: 5px;
    bottom: 0;
    width: 4px;
  }

  & .rc-slider-handle {
    margin-left: -5px;
    margin-bottom: -7px;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }

  & .rc-slider-mark {
    top: 0;
    left: 18px;
    height: 100%;
  }

  & .rc-slider-step {
    height: 100%;
    width: 4px;
  }

  & .rc-slider-dot {
    left: 2px;
    margin-bottom: -4px;
  }

  & .rc-slider-dot:first-child {
    margin-bottom: -4px;
  }

  & .rc-slider-dot:last-child {
    margin-bottom: -4px;
  }
}
