@import 'styles/variables.scss';

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: $white;
  box-shadow: 0 2px 40px -12px rgba(0, 0, 0, 0.30);
  width: 300px;
  transform: translateX(100%);
  transition: transform 1s;
  z-index: 2;

  &.active {
    transform: translateX(0%);
  }
}

.slider {
  z-index: 2;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  transform: rotate(45deg);
  display: inline-block;
  background: $white;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.10);
  position: absolute;
  top: 300px;
  left: -17px;
  cursor: pointer;

  .left {
    transform: rotate(-45deg);
  }

  .right {
    transform: rotate(-225deg);

    .halfOpacity {
      opacity: 0.5;
    }
  }
}

.button {
  position: absolute;
  background: url(../../assets/images/path_front.svg) no-repeat;
  width: 9px;
  height: 15px;
  display: inline-block;

  &.front {
    bottom: 5px;
    right: -11px;
  }

  &.back {
    top: 5px;
    left: 12px;
  }
}

.body {
  padding: 0 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
}

.item {
  margin: 30px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 9px;
}

.title {
  opacity: 0.7;
  color: $darkGray;
}

.link {
  color: $pink;
  cursor: pointer;

  &.pink {
    color: $pink;
  }

  &.blue {
    color: $blue;
  }
}

.content {
  font-weight: 500;
  font-size: 20px;
  color: $darkGray;
  margin-top: 10px;
}

.price {
  font-weight: bold;
  color: $blue;
}

.notification {
  position: absolute;
  top: 11px;
  left: -5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #e24141;
  box-shadow: 0 3px 3px 0 rgba(226, 65, 65, 0.25);
  opacity: 1;
  transition: opacity 0.8s;

  &.passive {
    opacity: 0;
  }
}
