@import 'styles/variables.scss';

.container {
  position: relative;
  margin-top: 30px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
  background: $gray;
  height: 43px;

  @media #{$mobile} {
    margin-top: 15px;
  }
}

.title {
  @include main-container();
  font-weight: 500;
  font-size: 20px;
  color: $darkGray;
}

.childrenWrapper {
  @include main-container();
}

