@import 'styles/variables.scss';

.container {
  @include main-container();
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  @media #{$mobile} {
    margin-top: 15px;
    flex-direction: column;

    & > button {
      margin-top: 10px;
    }
  }
}

.body {
  font-weight: 500;
  font-size: 16px;
  color: $darkGray;

  span:last-child {
    opacity: 0.5;
    &:after {
      content: ""
    }
  }
}

.link {
  cursor: pointer;

  &:after {
    content: " / ";
  }
}
