@import 'styles/variables.scss';

.container {
  margin-top: 40px;
}

.wrapper {
  @include main-container();
}

.greyBackground {
  background: $background-color;
  margin-top: 20px;
  padding: 20px 0;
}

.sliderCont {
  padding: 40px;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;

  @include not-last-child('p') {
    margin-right: 18px;
  }

  @media #{$media1024} {
    @include not-last-child('p') {
      margin-right: 7px
    }
  }

  @media #{$mobile} {
    @include not-last-child('p') {
      margin-right: 0;
    }
  }
}

.calculator {
  background: $white;
  @include radius();
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 840px;
  margin: 20px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  @media #{$tablet} {
    width: 540px;
  }

  @media #{$mobile} {
    width: 280px;
  }

}

.calculatorInput {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.calculatorRow {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.calculatorText {
  @include h4();
}

.img {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  height: 150px;
}

.imgDisabled {
  opacity: 0;
  height: 0
}
