@import 'styles/variables.scss';

.box {
  margin: 20px 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07);
  background-color: $white;
  font-size: 18px;
  line-height: 24px;
  padding: 25px 20px;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &Border {
    border: 1px solid rgba(75, 84, 91, .2);
    box-shadow: none;
  }

  @media #{$mobile} {
    width: 100%;
  }
}

.body {
  margin-top: 10px;
}
