@import "styles/variables.scss";

.header {
  background-color: #fff;
  width: 100%;
  min-height: 56px;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li span {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #e1e1e1;
  text-decoration: none;
  @include h5(500);
  color: $darkGray;
  cursor: pointer;
}

.header li span:hover,
.header .menuBtn:hover {
  background-color: #e1e1e1;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.img {
  width: 160px;
  height: 28px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menuIcon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menuIcon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menuIcon .navicon:before,
.header .menuIcon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menuIcon .navicon:before {
  top: 5px;
}

.header .menuIcon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menuBtn {
  display: none;
}

.header .menuBtn:checked ~ .menu {
  max-height: 240px;
}

.header .menuBtn:checked ~ .menuIcon .navicon {
  background: transparent;
}

.header .menuBtn:checked ~ .menuIcon .navicon:before {
  transform: rotate(-45deg);
}

.header .menuBtn:checked ~ .menuIcon .navicon:after {
  transform: rotate(45deg);
}

.header .menuBtn:checked ~ .menuIcon:not(.steps) .navicon:before,
.header .menuBtn:checked ~ .menuIcon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li span {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menuIcon {
    display: none;
  }
}
