@import 'styles/variables.scss';

.container {
  margin-top: 20px;
}

.wrapper {
  @include main-container();
}

.greyBackground {
  background: $background-color;
  margin-top: 20px;
  padding: 20px 0;
}

.insuranceImage {
  height: 254px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;

  @include not-last-child('p') {
    margin-right: 18px;
  }

  @media #{$media1024} {
    @include not-last-child('p') {
      margin-right: 10px
    }
  }

  @media #{$mobile} {
    @include not-last-child('p') {
      margin-right: 0;
    }
  }
}

.button {
  padding: 15px 50px;
}

.textParagraph {
  @include m-text();
  margin: 5px 0;
}


.insuranceContainer {
  display: flex;
  justify-content: center;
}

.underlineBox {
  width: 100%;
  text-align: center;
  line-height: 125px;

  .customUnderline::after {
    top: 65%;
    height: 2px !important;
    width: 40%;
    left: 30%;
    background-color: $blue;
    transition: 0.4s ease-out all .1s;
  }

  &:hover .customUnderline::after {
    width: 90%;
    left: 5%;
    transition: 0.5s ease all;
  }
}

.customUnderline {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $blue;
    text-decoration: none;
  }

  &:focus {
    color: $blue;
    text-decoration: none;
  }

  &:active {
    color: $blue;
    text-decoration: none;
  }

  &Active {
    color: $blue;

    &:after {
      left: 5% !important;
      width: 90% !important;
      transition: 0.5s ease all;
    }
  }

  &::after {
    content: "";
    position: absolute;
  }
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > * {
    margin: 5px 0;
  }
}
