@import 'styles/variables.scss';

.models {
  @include main-container();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 5px;

  @media #{$larger-than-1095} {
    &::after {
      content: "";
      flex: 1;
    }
  }
}
