@import 'styles/variables.scss';

.radioButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.50);
  min-width: 20px;
  height: 20px;
  border-radius: 50%;

  .active {
    background: $blue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
