@import 'styles/variables.scss';

.container {
  @include main-container();
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}

.top {
  display: flex;
  justify-content: space-around;

  @media #{$mobile} {
    flex-direction: column;
  }
}

.line {
  position: absolute;
  border: 2px solid #28649c;
  bottom: -1px;
  width: 0;
  transition: all 1s;
}

.item {
  display: flex;
  align-items: center;
  opacity: 0.7;
}

.item__active {
  opacity: 1;
}

.item__pointer {
  cursor: pointer;
}

.item__disabled {
  opacity: 0.3;
}

.round {
  @media #{$mobile} {
    background: $blue;
    border-radius: 5px;
    width: 8px;
    height: 8px;
    margin-right: 10px;
  }
}

.title {
  opacity: 0.7;
  font-weight: 500;
  font-size: 20px;
  color: $darkGray;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.bottom {
  position: relative;

  @media #{$mobile} {
    margin-top: 0;
  }
}
